 {% extends 'base.html' %}
 {% load static %}

 {% block 'head' %}

  <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="box">
        <form action="{% url 'logar' %}" method="post">{% csrf_token %}
            {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">
                            {{message}}
                         </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}

                <h1 class="titulo font-degrade borda-bottom-degrade">LOGAR</h1>

                <div class="form-group">
                    <label for="id_username" class="span-descricao">Nome de usuário:</label>
                    <input type="text" id="id_username" name="username" class="form-control input-cadastro" required>
                </div>

                <div class="form-group">
                    <label for="id_password" class="span-descricao">Senha:</label>
                    <input type="password" id="id_password" name="password" class="form-control input-cadastro" required>
                </div>

                <div class="form-group password-reset-link">
                    <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-success btn-lg">LOGAR</button>
                    <button type="button" onclick="window.location.href='{% url 'cadastro' %}'" class="btn btn-primary btn-lg">CADASTRO</button>
                </div>

        </form>

    </div>
{% endblock %}
